@import url("https://fonts.googleapis.com/css?family=Space+Mono|Rubik&display=swap");
*,
.App {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-dark {
  background-color: rgb(23, 42, 69) !important;
}
