@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Quattrocento+Sans&display=swap");
@import url(./assets/circularStdBook/style.css);

body,
.App,
.loading {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Circular Std Book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-dark {
  background-color: rgb(23, 42, 69) !important;
}

p,
input {
  font-size: 13px !important;
}

.navbar-link {
  font-size: 13.5px !important;
}
.navbar-link:hover {
  color: white !important;
  text-decoration-line: none;
}

small {
  font-family: "Circular Std Book", sans-serif;
  font-size: 11.5px !important;
  letter-spacing: 0.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search {
  position: absolute;
  top: 2%;
  right: 2%;
}
